<% @hed = "Republican candidates on immigration" %>
<% @guff= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum orci sit amet purus imperdiet, ut varius nunc ultrices. Duis pellentesque erat urna, et ornare ligula finibus eu." %>
<% @org = "Mashable" %>
<% @org_twitter = "@mashable" %>
<% @author = "Juana Summers and Sergio Hernandez" %>
<% @author_twitter = "@mashable" %>

<!DOCTYPE html>
<html lang="en-US">
<head>
	<!--<base href="http://mashgraphics-stage.s3-website-us-east-1.amazonaws.com/mashgraphics/graphics/2015-09-16-gop-immigration/" />-->

	<!-- meta tags -->
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex" />
	
	<title>Mashable : Graphic : <%= @hed %></title>

	<!-- stylsheets -->
	<link rel="stylesheet" href="stylesheets/screen.css">
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="stylesheets/swiper.min.css">

	<!-- Twitter card meta tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="<%= @org_twitter %>" />
	<meta name="twitter:creator" content="<%= @org_twitter %>">
	<meta name="twitter:title" content="<%= @hed %>" />
	<meta name="twitter:description" content="<%= @guff %>">
	<meta name="twitter:image" content="images/fallback.png" />

	<link rel="shortcut icon" href="//mashable.com/favicon.ico" />
    	<base target="_blank" />

</head>
<body>
	<!-- javascripts -->
	<script src="javascripts/d3.min.js"></script>
	<script src="javascripts/queue.min.js"></script>
	<script src="javascripts/jquery-2.1.4.min.js"></script>
	<script src="javascripts/swiper.jquery.min.js"></script>
	
	<!-- mashable fonts -->
	<script src="//use.typekit.net/grm1wok.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	
	<header>
		<div class="wrapper">&nbsp;
		</div>
		<h1><%= @hed %></h1>
		<p class="byline">By <span style="text-transform: uppercase;">Juana Summers</span> and <span style="text-transform: uppercase;">Sergio Hernandez</span></p>
		<h2><%= @guff %></h2>
	</header>
	
	<section role="main">
	<article><%= yield %></article>
	</section>
	
	<footer>
		<!--<div class="footnotes">
        		<h4>Notes</h4>
        		<p>Lorem ipsum dolor sit amet</p>
	    		</div>-->
    		<div class="footer">
        		<p>Source: lorem ipsum dolor sit amet</p>
        		<p>Photos: Corbis Images, Johnny Simon/Mashable; Illustration: Bob Al-Greene/Mashable; Interactive: Sergio Hernandez/Mashable</p>
		    </div>
		<div id="watermark"></div>
	</footer>
</body>
</html>